    <header>

            <nav id="navbar">
                <a href="/" rel="noopener noreferrer">Inicio</a>
                <a href="/mascotas" rel="noopener noreferrer">Mascotas</a>                
                <a href="/adoptar" rel="noopener noreferrer">Adoptar</a>
                <a href="/dar-en-adopcion" rel="noopener noreferrer">Dar en adopción</a>
                <a href="/contacto" rel="noopener noreferrer">Contacto</a>
            </nav>

    </header>