    {{> header}}

    <main>

        <h1>Adopción de Mascotas</h1>

        <p>Este sitio tiene el objetivo de facilitar la tarea de encontrarle un hogar a los animales en situación de calle o transito.</h6>

        <hr>

        <div class="contenedor">

            <a href="mascotas.html" rel="noopener noreferrer"><img src="/img/Mascotas.jpg" alt="Foto de un perro y un gato" srcset=""><br>¿Gato o Perro? ¿Qué animal se adapta mejor a vos?</a>
            
            <a href="adoptar.html" rel="noopener noreferrer"><img src="/img/Adoptar.jpg" alt="Foto de un perro con un cartel preguntando si lo adoptas" srcset=""><br>Adoptar una mascota</a>

            <a href="dar-en-adopcion.html" rel="noopener noreferrer"><img src="/img/Dar-en-adopcion.jpg" alt="Foto de una persona sosteniendo cinco gatitos" srcset=""><br>Dar en adopción una mascota</a>

            <a href="contacto.html" rel="noopener noreferrer"><img src="/img/Contacto.jpg" alt="Imagen prediseñada de una persona con dudas" srcset=""><br>¿Consultas o sugerencias? Contactanos</a>

        </div>

    </main>

    {{> footer}}