    {{> header}}
    
    <main>

        <h1>Mascotas</h1>

        <p>¿Gato o Perro? ¿Qué animal se adapta mejor a vos?</h6>

        <hr>

        <div class="contenedor">
            <img class="cara-mascotas" src="/img/Gata.jpg" alt="Foto de cara de Gata" srcset="">
            <h2>Gatos</h2>
            <img class="cara-mascotas" src="/img/Gato.jpg" alt="Foto de Gato" srcset="">
        </div>

        <iframe id="video" src="https://www.youtube.com/embed/XTkM7Xpfrn4" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <hr>

        <div class="contenedor">
            <img class="cara-mascotas" src="/img/Perro1.jpg" alt="Foto de cara de Perro" srcset="">
            <h2>Perros</h2>
            <img class="cara-mascotas" src="/img/Perro2.jpg" alt="Foto de cara de Perro" srcset="">
        </div>

        <iframe id="video" src="https://www.youtube.com/embed/SoK5iXhMEIo" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </main>

    {{> footer}}